<!-- Navbar start -->
<div class="container-fluid fixed-top">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3">
          <i class="fas fa-map-marker-alt me-2 text-secondary"></i> 
          <a href="https://www.google.com/maps/search/Restaurants/@33.8847178,10.0917509,15.36z?entry=ttu" class="text-white">1, 2 rue André Ampère - 2083 - GABES.</a>
        </small>
        <small class="me-3">
          <i class="fas fa-envelope me-2 text-secondary"></i>
          <a class="text-white">DELIVITE@gmail.com</a>
        </small>
      </div>
      <div class="top-link pe-2">
        <a class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
        <a class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
        <a class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
      <a routerLink="" class="navbar-brand"><h1 class="text-primary display-6">DELIVITE</h1></a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a routerLink="getRestaurants" class="nav-item nav-link">Restaurants</a>
          
          <!-- Dropdown Menu User -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu bg-secondary rounded-0" aria-labelledby="userDropdown">
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" >Clients</a>
                <div class="dropdown-menu bg-secondary rounded-0">
                  <a routerLink="getclient" class="dropdown-item">All Clients</a>
                  <a routerLink="addclient" class="dropdown-item">Add Clients</a>
                </div>
              </div>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" >Chauffeurs</a>
                <div class="dropdown-menu bg-secondary rounded-0">
                  <a routerLink="getchauffeur" class="dropdown-item">All Chauffeurs</a>
                  <a routerLink="addChauffeur" class="dropdown-item">Add Chauffeurs</a>
                </div>
              </div>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" >Admins</a>
                <div class="dropdown-menu bg-secondary rounded-0">
                  <a routerLink="getAdmin" class="dropdown-item">All Admins</a>
                  <a routerLink="addAdmin" class="dropdown-item">Add Admin</a>
                </div>
              </div>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" >Restaurant</a>
                <div class="dropdown-menu bg-secondary rounded-0">
                  <a routerLink="addRestaurant" class="dropdown-item">Add Restaurant</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Other Menus -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="vehiclesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vehicles
            </a>
            <div class="dropdown-menu bg-secondary rounded-0" aria-labelledby="vehiclesDropdown">
              <a routerLink="/getVehicule" class="dropdown-item">All Vehicles</a>
              <a routerLink="addVehicule" class="dropdown-item">Add Vehicle</a>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Orders
            </a>
            <div class="dropdown-menu bg-secondary rounded-0" aria-labelledby="ordersDropdown">
              <a routerLink="getOrders" class="dropdown-item">All Orders</a>
              <a routerLink="" class="dropdown-item">Update Order</a>
            </div>
          </div>

          <a routerLink="" class="nav-item nav-link">History</a>
          <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>

        <div class="d-flex m-3 me-0">
  
         
          <!-- Login/Logout Buttons -->
          <div class="d-flex m-3 me-0">
            <button class="btn border border-secondary rounded-pill px-3" (click)="logout()" *ngIf="isLoggedIn()">
              Log out
            </button>
            <button class="btn border border-secondary rounded-pill px-3" (click)="login()" *ngIf="!isLoggedIn()">
              Log In
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->
