<!-- Navbar start -->
<div class="container-fluid fixed-top">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3">
          <i class="fas fa-map-marker-alt me-2 text-secondary"></i> 
          <a href="https://www.google.com/maps/search/Restaurants/@33.8847178,10.0917509,15.36z?entry=ttu" class="text-white">1, 2 rue André Ampère - 2083 - GABES.</a>
        </small>
        <small class="me-3">
          <i class="fas fa-envelope me-2 text-secondary"></i>
          <a class="text-white">DELIVITE@gmail.com</a>
        </small>
      </div>
      <div class="top-link pe-2">
        <a class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
        <a class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
        <a class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
      <a routerLink="" class="navbar-brand"><h1 class="text-primary display-6">DELIVITE</h1></a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a routerLink="/Restaurants" class="nav-item nav-link">Restaurants</a>
          <!-- Other Menus -->
          <a routerLink="/getOrders" class="nav-item nav-link">Mes Commandes</a>
          <a routerLink="/info" class="nav-item nav-link">History</a>
          <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>

        <div class="d-flex m-3 me-0">
  
         
          <!-- Login/Logout Buttons -->
          <div class="d-flex m-3 me-0">
            <button class="btn border border-secondary rounded-pill px-3" (click)="logout()" *ngIf="isLoggedIn()">
              Log out
            </button>
            <button class="btn border border-secondary rounded-pill px-3" (click)="login()" *ngIf="!isLoggedIn()">
              Log In
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->
