<!-- Single Page Header start -->
<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="" class="card-img-top" alt="Client Role">
            <div class="card-body">
              <h5 class="card-title">Client</h5>
              <p class="card-text">Register as a client to start ordering.</p>
              <a routerLink="/register-client" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="" class="card-img-top" alt="Chauffeur Role">
            <div class="card-body">
              <h5 class="card-title">Chauffeur</h5>
              <p class="card-text">Register as a chauffeur to start delivering.</p>
              <a routerLink="/register-chauffeur" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="" class="card-img-top" alt="Restaurant Role">
            <div class="card-body">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Register as a Restaurant.</p>
              <a routerLink="/register-resto" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Page Header End -->
  